[user]
	name = Christoph Heiss
	email = me@christoph-heiss.me
	signingkey = 8D9166DCF6A28E57
[commit]
	gpgsign = true
[format]
	signoff = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
